.new-tweet {
  display:flex;
  flex-direction: column;
  width: 80%;
  background-color:#43c59e;
  font-family: sans-serif;
  color: white;
}

#new-tweet-form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  background-color: #43c59e;
  border: hidden;
  border-bottom: 3px solid #53554c;
  margin-bottom: 5px;
}



.new-tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee';
  font-size: 24px;
  margin-top: 5px; 
}

#submit {  
  background-color: #14453d;
  font-size: 1em;
  color: #ffffff;
  border: 0;
  height: 2.5rem;
  width: 7rem;
}

#submit:hover {  
  background-color: #3d7068
}

.invalid {
  color: red
}
